@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

img, iframe {
  max-width: 100%;
}

.shows-header {
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    text-align: center; 
}

.top-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap: 2.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.website-background {
    background-color: black;
    color: white;
}

.band-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 800px;
    height: 450px;

    padding: 10px;
    margin: 20px auto;
}

@media (max-width: 600px) { /* For mobile, remove top header */ 
    .top-section {
        display: none;
    }
    .wrapper-main {
        width: 100%
    }
    nav {
        padding: 1rem;
        display: flex;
    }
}

@media (min-width: 601px) { /* For desktop, remove hamburger menu */ 
    .ham-menu {
        display: none;
    }
    .off-screen-menu {
       display: none; 
    }
    nav {
        display: none;
        padding: 0rem;
    }
    .wrapper-main {
        width: 100%
    }
}


/* All related to mobile hamburger menu */
.off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 480px;
    position: fixed;
    top: 0;
    right: -480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu a {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6f86ff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

/* Spaces out spans on ham menu */
.ham-menu span:nth-child(1) {
    top: 25%
}
.ham-menu span:nth-child(3) {
    top: 75%
}

/* Turns ham menu into x when clicked */
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

