@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*.about-header {
    color: green;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}*/

* {
  box-sizing: border-box;
}

img, iframe {
  max-width: 100%;
}

.shows-header {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center; 
}

.page-background {
    background-image: url("./images/rustBackground.png");
    background-position: center;
    background-repeat: no-repeat; 
}

/*button {
    height: 60px;
    width: 60px;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
}*/

.top-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    gap: 2.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.website-background {
    background-color: black;
    color: white;
}

.band-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 800px;
    height: 450px;

    padding: 10px;
    margin: 20px auto;
}

